/*                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ***
****
*****these are the css styles that are going to be used for the templates
****
***
**
*/
/*
.top_banner
{
width:70%;
height:30px;
background-color:yellow;
/*font-family:sans-serif;
background-color:blue;
float:left;
}

.navigation_container                                                                                                                                                                                                                                                                                                     
{
width:1000px;
height:50px;
background-color:white;
padding:5px;
background-color:blue;
float:left;
}

.navig_divs
{
width:70px;
height:30px;
font-weight:10px;
margin:10px;
border-color:blue;
border-style:solid;
float:left;
}
*/
