<html>
	
	<head>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
		<!--<link rel = "stylesheet" href="/static/bootstrap/css/style.css"/>	-->
		<title>Alex Blog</title>
	</head>
	<body>
	
	   
	   <div id = "content" >
	    <div class = top_banner>
		  
		 <!-- <a href = "/blog/posts"><h5>HI WELCOME TO MY BLOG</h5></a>-->
		</div>
		<div class = "navigation_container">
		 <a href = "/blog/"><div class = "navig_divs" >Home</div></a>
		 
		 <!--<div class = "navig_divs"><a href = "/blog/comments">Comments</a></div>
		 <div class = "navig_divs"><a href = "/reg/login">Login</a></div>
		 <div class = "navig_divs"><a href = "/reg/do_logout">Logout</a></div>-->
		</div>
		

	     {%block content %}
		<h5 style = color:#0099CC;>HI WELCOME TO MY BLOG</h5>
<a href = "/blog/posts"><div class = "navig_divs" >View Posts</div></a>
	          <!-- <form class="well form-search">
                   <input type="text" class="input-medium search-query">
                   <button type="submit" class="btn">Search</button>
                  </form>-->
		
	     {% endblock %}
		
	   </div> 
	</body
</html>
