<html>
	
	<head>
		<title>Alex Blog</title>
		<style type = "text/css">
			*{color:black; font-weight:2px;}
			a{text-decoration:none; color:#fa5667;}
			li{list-style-type:none:}
			#container{width:1000px; height:1000px;}
			#main_page{background-color:white}
		
		</style>
	</head>
	<body>
	<div id="container">
	  <div id = "main_page">
	   
	   <div id = "content" >

		{%block content %}
		  <a href = "/blog/posts">alex_title</a>
		{% endblock %}
	   </div>
	  </div>	
	</div>
	</body

</html>
